In [100]:
import pyspark
from pyspark.sql import SparkSession

In [101]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [102]:
spark = SparkSession.builder.getOrCreate()
spark

In [103]:
from pyspark.sql.types import  (StructType, 
                                StructField, 
                                DateType, 
                                BooleanType,
                                DoubleType,
                                IntegerType,
                                StringType,
                               TimestampType)
import pyspark.sql.functions as S
from datetime import datetime
from pyspark.sql.functions import col,udf
from pyspark.sql.functions import *

In [104]:
schema = StructType([
    StructField('X', DoubleType(), True),
    StructField('Y', DoubleType(), True),
    StructField('RowID', IntegerType(), True),
    StructField('CrimeDateTime', StringType(), True), 
    StructField('CrimeCode', StringType(), True),
    StructField('Location', StringType(), True),
    StructField('Description', StringType(), True),
    StructField('Inside_Outside', StringType(), True),
    StructField('Weapon', StringType(), True),
    StructField('Post', StringType(), True),
    StructField('District', StringType(), True),
    StructField('Neighborhood', StringType(), True),
    StructField('Latitude', DoubleType(), True),
    StructField('Longitude', DoubleType(), True),
    StructField('GeoLocation', StringType(), True),
    StructField('Premise', StringType(), True),
    StructField('VRIName', StringType(), True),
    StructField('Total_Incidents', IntegerType(), True),
    StructField('Shape', StringType(), True)
  ])

In [105]:
df = spark.read.option('header', True).schema(schema).csv("Part1_Crime_data.csv")

In [106]:
print(df.count())

513756

In [107]:
df.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: string (nullable = true)

In [108]:
list(schema)

[StructField(X,DoubleType,true),
 StructField(Y,DoubleType,true),
 StructField(RowID,IntegerType,true),
 StructField(CrimeDateTime,StringType,true),
 StructField(CrimeCode,StringType,true),
 StructField(Location,StringType,true),
 StructField(Description,StringType,true),
 StructField(Inside_Outside,StringType,true),
 StructField(Weapon,StringType,true),
 StructField(Post,StringType,true),
 StructField(District,StringType,true),
 StructField(Neighborhood,StringType,true),
 StructField(Latitude,DoubleType,true),
 StructField(Longitude,DoubleType,true),
 StructField(GeoLocation,StringType,true),
 StructField(Premise,StringType,true),
 StructField(VRIName,StringType,true),
 StructField(Total_Incidents,IntegerType,true),
 StructField(Shape,StringType,true)]

In [109]:
df.show(5)

+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
|               X|               Y|RowID|       CrimeDateTime|CrimeCode|          Location|         Description|Inside_Outside| Weapon|Post| District|  Neighborhood|Latitude|Longitude|       GeoLocation|Premise|VRIName|Total_Incidents|Shape|
+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
|1428019.10487147|589532.731060804|    1|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1428019.10487147|589532.731060804|    2|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1428019.10487147|589532.731060804|    3|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1423024.46477252| 572683.29122287|    4|2022/03/05 04:30:...|      3CF|100 E PATAPSCO AVE|ROBBERY - COMMERCIAL|          null|FIREARM| 913| SOUTHERN|      BROOKLYN| 39.2385| -76.6092|(39.2385,-76.6092)|   null|   null|              1| null|
|1400632.37017858|593904.722108476|    5|2022/03/05 01:30:...|      3AF|     RD & KEVIN RD|    ROBBERY - STREET|          null|FIREARM| 822|SOUTHWEST|ROGNEL HEIGHTS|  39.297|  -76.688|  (39.297,-76.688)|   null|   null|              1| null|
+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
only showing top 5 rows

In [110]:
df.persist()

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: string, District: string, Neighborhood: string, Latitude: double, Longitude: double, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int, Shape: string]

In [111]:
df.select('CrimeCode').distinct().sort('CrimeCode').collect()

[Row(CrimeCode='1A'),
 Row(CrimeCode='1K'),
 Row(CrimeCode='1O'),
 Row(CrimeCode='2A'),
 Row(CrimeCode='2B'),
 Row(CrimeCode='3AF'),
 Row(CrimeCode='3AJF'),
 Row(CrimeCode='3AJK'),
 Row(CrimeCode='3AJO'),
 Row(CrimeCode='3AK'),
 Row(CrimeCode='3AO'),
 Row(CrimeCode='3B'),
 Row(CrimeCode='3BJ'),
 Row(CrimeCode='3C'),
 Row(CrimeCode='3CF'),
 Row(CrimeCode='3CK'),
 Row(CrimeCode='3CO'),
 Row(CrimeCode='3D'),
 Row(CrimeCode='3E'),
 Row(CrimeCode='3EF'),
 Row(CrimeCode='3EK'),
 Row(CrimeCode='3EO'),
 Row(CrimeCode='3F'),
 Row(CrimeCode='3GF'),
 Row(CrimeCode='3GK'),
 Row(CrimeCode='3GO'),
 Row(CrimeCode='3H'),
 Row(CrimeCode='3J'),
 Row(CrimeCode='3JF'),
 Row(CrimeCode='3JK'),
 Row(CrimeCode='3JO'),
 Row(CrimeCode='3K'),
 Row(CrimeCode='3L'),
 Row(CrimeCode='3LF'),
 Row(CrimeCode='3LK'),
 Row(CrimeCode='3LO'),
 Row(CrimeCode='3M'),
 Row(CrimeCode='3N'),
 Row(CrimeCode='3NF'),
 Row(CrimeCode='3NK'),
 Row(CrimeCode='3NO'),
 Row(CrimeCode='3P'),
 Row(CrimeCode='4A'),
 Row(CrimeCode='4B'),
 Row(CrimeCode='4C'),
 Row(CrimeCode='4D'),
 Row(CrimeCode='4E'),
 Row(CrimeCode='5A'),
 Row(CrimeCode='5B'),
 Row(CrimeCode='5C'),
 Row(CrimeCode='5D'),
 Row(CrimeCode='5E'),
 Row(CrimeCode='5F'),
 Row(CrimeCode='5G'),
 Row(CrimeCode='6A'),
 Row(CrimeCode='6B'),
 Row(CrimeCode='6C'),
 Row(CrimeCode='6D'),
 Row(CrimeCode='6E'),
 Row(CrimeCode='6F'),
 Row(CrimeCode='6G'),
 Row(CrimeCode='6H'),
 Row(CrimeCode='6J'),
 Row(CrimeCode='6K'),
 Row(CrimeCode='6L'),
 Row(CrimeCode='7A'),
 Row(CrimeCode='7B'),
 Row(CrimeCode='7C'),
 Row(CrimeCode='8AO'),
 Row(CrimeCode='8AV'),
 Row(CrimeCode='8BO'),
 Row(CrimeCode='8BV'),
 Row(CrimeCode='8CO'),
 Row(CrimeCode='8CV'),
 Row(CrimeCode='8DO'),
 Row(CrimeCode='8EO'),
 Row(CrimeCode='8EV'),
 Row(CrimeCode='8FO'),
 Row(CrimeCode='8FV'),
 Row(CrimeCode='8GO'),
 Row(CrimeCode='8GV'),
 Row(CrimeCode='8H'),
 Row(CrimeCode='8I'),
 Row(CrimeCode='8J'),
 Row(CrimeCode='9S')]

In [112]:
df.groupBy("CrimeCode").agg(S.count("CrimeCode")).withColumnRenamed("count(CrimeCode)", "CrimeCount").orderBy("CrimeCount", ascending=False).show()

+---------+----------+
|CrimeCode|CrimeCount|
+---------+----------+
|       4E|     91822|
|       6D|     68508|
|       5A|     43956|
|       7A|     40308|
|       6J|     27670|
|       6G|     26898|
|       6E|     24310|
|       6C|     23269|
|       4C|     22455|
|       5D|     14971|
|      3AF|     14760|
|       4B|     14501|
|       4A|     13240|
|       3B|     10735|
|       4D|      7222|
|       5B|      6481|
|       9S|      5452|
|       6F|      5058|
|       5C|      4917|
|       6B|      4106|
+---------+----------+
only showing top 20 rows

In [113]:
df.groupBy("Neighborhood").agg(S.count("Neighborhood")).withColumnRenamed("count(Neighborhood)", "CrimeCount").orderBy("CrimeCount", ascending=False).show()

+--------------------+----------+
|        Neighborhood|CrimeCount|
+--------------------+----------+
|            DOWNTOWN|     17818|
|           FRANKFORD|     12062|
|       BELAIR-EDISON|     10895|
|            BROOKLYN|      9043|
|              CANTON|      7548|
| SANDTOWN-WINCHESTER|      7430|
|         CHERRY HILL|      7407|
|               UPTON|      6510|
|        MOUNT VERNON|      6160|
|         FELLS POINT|      6015|
|        INNER HARBOR|      5990|
|PATTERSON PARK NE...|      5988|
|WASHINGTON VILLAG...|      5940|
|      HAMILTON HILLS|      5917|
|COLDSTREAM HOMEST...|      5819|
|           MONDAWMIN|      5761|
|      MCELDERRY PARK|      5676|
|CENTRAL PARK HEIGHTS|      5258|
|    CARROLLTON RIDGE|      5034|
|       BROADWAY EAST|      5004|
+--------------------+----------+
only showing top 20 rows

In [138]:
df.select(col("CrimeDateTime"), to_timestamp(col("CrimeDateTime"), "MM-dd-yyyy HH mm ss SSS").alias("Crime_date"))

DataFrame[CrimeDateTime: string, Crime_date: timestamp]

In [131]:
df.select('Weapon').distinct().sort('Weapon').collect()

[Row(Weapon=None),
 Row(Weapon='FIRE'),
 Row(Weapon='FIREARM'),
 Row(Weapon='HANDS'),
 Row(Weapon='KNIFE'),
 Row(Weapon='NA'),
 Row(Weapon='OTHER')]

In [117]:
No_weapon = ['NA', "None"]
df.filter(~df.Weapon.isin(No_weapon)).groupby('Weapon').count().show()

+-------+-----+
| Weapon|count|
+-------+-----+
|  HANDS| 7222|
|  KNIFE|19181|
|  OTHER|30293|
|   FIRE| 2348|
|FIREARM|46217|
+-------+-----+